h1{
    color: blue;
    border:color(black);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    color: blue;
    border:color(black);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
img{
    text-align: center;
}
p{
    color: blue;
    border:color(black);
    font-family: 'Times New Roman', Times, serif

}
ul{
    color: blue;
    border:color(black);
    font-family: 'Times New Roman', Times, serif

}

